<a href="https://colab.research.google.com/github/kim-slava/machine_learning/blob/main/ma_lean_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('fgl.csv',delimiter=',')

In [ ]:
df

     Unnamed: 0    RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  type
0             1  3.01  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0  WinF
1             2 -0.39  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0  WinF
2             3 -1.82  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0  WinF
3             4 -0.34  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0  WinF
4             5 -0.58  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0  WinF
..          ...   ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209         210 -1.77  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0  Head
210         211 -1.15  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0  Head
211         212  2.65  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0  Head
212         213 -1.49  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0  Head
213         214 -0.89  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0  Head

[214 rows x 11 columns]

In [ ]:
df[df.RI>0]

     Unnamed: 0    RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  type
0             1  3.01  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0  WinF
8             9  1.18  14.04  3.58  1.37  72.08  0.56  8.30  0.00  0.0  WinF
17           18  3.96  14.36  3.85  0.89  71.36  0.15  9.15  0.00  0.0  WinF
18           19  1.11  13.90  3.73  1.18  72.12  0.06  8.89  0.00  0.0  WinF
21           22  1.66  14.77  3.75  0.29  72.02  0.03  9.00  0.00  0.0  WinF
..          ...   ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
187         188  5.15  13.44  3.34  1.23  72.38  0.60  8.83  0.00  0.0  Head
188         189  4.47  14.86  2.20  2.06  70.26  0.76  9.76  0.00  0.0  Head
189         190  5.65  15.79  1.83  1.31  70.43  0.31  8.61  1.68  0.0  Head
207         208  0.31  14.39  0.00  1.82  72.86  1.41  6.47  2.88  0.0  Head
211         212  2.65  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0  Head

[89 rows x 11 columns]

In [ ]:
df[df.RI<0]

     Unnamed: 0    RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  type
1             2 -0.39  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00  WinF
2             3 -1.82  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00  WinF
3             4 -0.34  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00  WinF
4             5 -0.58  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00  WinF
5             6 -2.04  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26  WinF
..          ...   ...    ...   ...   ...    ...   ...   ...   ...   ...   ...
208         209 -1.60  14.37  0.00  2.74  72.85  0.00  9.45  0.54  0.00  Head
209         210 -1.77  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00  Head
210         211 -1.15  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.00  Head
212         213 -1.49  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.00  Head
213         214 -0.89  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.00  Head

[124 rows x 11 columns]